$accent-color: #FF6838;
$default-color: #31352B;
$title-color: #363853;

%quicksand-400{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%quicksand-500{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}